.details-container {
    display: flex;
    flex-direction: column;
    background-color: snow;
    height: 86vh;
    margin-top: 15vh;
    color: #002868;
}

.details-title {
    font-size: 5vh;
}

.details-trails,
.details-acres {
    font-size: 2vh;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.trail-map-container {
    display: flex;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.trail-map {
    width: 42vw;
    height: 54vh;
    transition: transform .3s;
    margin-top: 1vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.trail-map:hover {
    transform: scale(1.4)
}
.details-town {
    margin-top: 1.5vh;
}

.details-region {
    font-size: 1.85vh;
}

.resort-scripts {
    display: flex;
    width: 35vw;
    height: 75vh;
    margin-top: 3vh;
    margin-right: 2vw;
    align-items: center;
    flex-direction: column;
    align-content: center;
    border-color: #002868;
    border-style: double;
    justify-content: space-around;
    background-color: #8e9ebd;
    overflow: auto;
}

.list-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5vw;
}

.links-container {
    flex-direction: column;
    justify-content: space-evenly;
}

.details-tickets,
.details-web {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #002868;
    margin-right: 2vw;
}

.iconhelp {
    height: 5vh;
    width: 3vw;
    margin-bottom: 10px;
    margin-right: 10px;
}

.snowfall-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://media2.giphy.com/media/FoVi0LDjy1XS8/giphy.gif?cid=ecf05e473kr5jp9iq5cik9fqqckzzxa75kar89tch6fj17v4&rid=giphy.gif&ct=g');
    font-family: 'Rubik Distressed', cursive;
    height: 12vh;
    width: 15vw;
    box-shadow: rgba(255, 215, 0) 0px 1px 4px, rgb(255, 215, 0) 0px 0px 0px 3px;
    background-size: 20vh;
}

.resort-overview {
    width: 22vw;
    color: #002868;
    text-align:left;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 15px;
}

@media only screen and (min-width:300px) and (max-width:480px) {
    .flex-wrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 2.5vh;
    }
    
    .details-title {
        font-size: 3vh;
    }
    
    .resort-scripts {
        display: flex;
        width: 85vw;
        height: 38vh;
        margin-right: 0vw;
        margin-bottom: 0vh;
        margin-top: 1vh;
        justify-content: space-evenly;
        font-size: 10px;
    }
    
    .resort-overview {
        width: 75vw;
        font-size: 9px;
        margin-top: 2vh;
    }
    
    .trail-map-container {
        margin-top: 2vh;
        height: 40vh;
    }

    .trail-map {
        width: 60vw;
        height: 48vw;
        margin-top: 0vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .details-container {
        margin-top: 10vh;
    }
    
    .trail-map:hover {
        transform: scale(1.5)
    }
    
    .iconhelp {
        height: 3vh;
        width: 3vh;
    }
    
    .details-region {
        font-size: 1vh;
        margin-top: .5vh;
    }
    
    .details-town {
        font-size: 1.5vh;
        margin-top: 1vh;
    }
    
    .details-tickets,
    .details-web {
        font-size: 7px;
    }
    
    .snowfall-container {
        height: 10vh;
        width: 30vw;
        margin-top: 1vh;
    }
    
    .links-container{
        align-content: center;
        justify-content: space-evenly;
        margin-top: 1.5vh;
        margin-left: 2vw;
    }
    
    .list-section {
        font-size: 1.75vw;
        width: 75vw;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0vh;
        margin-top: 0vh;
    }

    .trail-map-container {
        margin-top: 1vh;
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .flex-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .details-title {
        font-size: 3vh;
        margin-top: 0vh;
    }

    .trail-map-container {
        margin-top: 9vh;
    }

    .trail-map {
        width: 60vw;
        height: 50vw;
        margin-top: 0vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    
    .trail-map:hover {
        transform: scale(1.425)
    }

    .resort-scripts {
        width: 75vw;
        height: 60vh;
        margin-top: 5vh;
        margin-right: 0vw;
        margin-bottom: 3vh;
        justify-content: space-evenly;
    }

    .resort-overview {
        width: 65vw;
        margin-top: 2vh;
    }

    .snowfall-container {
        width: 25vw;
        height: 10vh;
        margin-top: 1vh;
    }

    .links-container{
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2vh;
        margin-left: 1vw;
    }

    .details-tickets {
        font-size: 12px;
    }

    .details-web {
        font-size: 12px;
    }

    .iconhelp {
        height: 4vh;
        width: 3.25vh;
    }
}

@media only screen and (min-width: 769px) and (max-width:1050px) {
    .details-container {
        height: 85vh;
        margin-top: 14vh;
    }

    .flex-wrapper {
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }

    .details-title {
        font-size: 3.5vh;
        margin-bottom: 1vh;
    }
    
    .resort-scripts {
        display: flex;
        width: 85vw;
        height: 35vh;
        margin-right: 0vw;
        margin-bottom: 2vh;
        margin-top: 10vh;
        justify-content: space-evenly;
    }
    
    .resort-overview {
        width: 75vw;
        margin-top: 2vh;
        margin-left: 3vw;
        font-size: 14px;
    }
    
    .trail-map-container {
        height: 50vh;
        margin-top: 40vh;
    }

    .trail-map {
        width: 55vw;
        height: 42vw;
        margin-top: 0vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    
    .trail-map:hover {
        transform: scale(1.45)
    }
    
    .iconhelp {
        height: 4vh;
    }
    
    .details-region {
        font-size: 2vh;
        margin-bottom: 2vh;
    }

    .list-section {
        display: flex;
        flex-direction: row;
        font-size: 1.5vw;
        width: 70vw;
        justify-content: space-between;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
    
    .snowfall-container {
        width: 18vw;
        height: 10vh;
    }

    .links-container{
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2vh;
        margin-left: 1vw;
    }

    .details-tickets,
    .details-web {
        font-size: 14px;
    }
}